# PostgreSQL Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=notifydb
DB_SSLMODE=disable
# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
# Application Configuration
APP_PORT=3333
# Webhook Configuration
WEBHOOK_URL=https://webhook.site/1cecb1eb-46fb-4285-92d3-e47b92c76840